<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<aside th:fragment="sidebarFragment" >

<div class="area"></div>
    <nav class="main-menu">
    <ul>

        <li>
            <a href="#">
                <i class="fa fa-solid fa-user-tie fa-2x"></i>
                <span class="nav-text">
                            관리자
                        </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-solid fa-user fa-2x"></i>
                <span class="nav-text">
                            마이페이지
                        </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-regular fa-book-open fa-2x"></i>
                <span class="nav-text">
                            시험
                        </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-regular fa-comments fa-2x"></i>
                <span class="nav-text">
                            게시판 [ 질문 / 자유 ]
                        </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-solid fa-circle-exclamation fa-2x"></i>
                <span class="nav-text">
                            공지 [ FaQ / QnA ]
                        </span>
            </a>
        </li>


    </ul>

    <ul class="logout">
        <li>
            <a href="#">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                            Logout
                        </span>
            </a>
        </li>
    </ul>
</nav>

</aside>
</html>